<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="HADS10ConnectionString" connectionString="Data Source=tcp:hads10.database.windows.net,1433;Initial Catalog=HADS10-USUARIOS;Persist Security Info=True;User ID=hads10@hads10;Password=3simbolodeBatman"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms protection="Encryption" loginUrl="/Inicio.aspx" defaultUrl="/Inicio.aspx"/>
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <clear />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
